@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

  body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    color: #fffffe;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1; /* Firefox */
  }