@import url('https://fonts.cdnfonts.com/css/aero');

  body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fffffe;
    font-family: 'Aero', sans-serif;
    padding: 0;
    margin: 0;
  }
