.static {
  background-color: #5d5d5d82;
  border-radius: 5px;

  &:hover {
    box-shadow: 4px 5px 14px 0px rgba(1,1,1,0.36);
  }
}

.name {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  color: #18ff9f;
  margin: 0;
  padding: 12px 0;
}

.flip {
  
  position: relative;
  
  background-color: #5d5d5d82;
  border-radius: 6px;
  
  $transition-time: 0.35s;
  
  &:hover {
    box-shadow: 4px 6px 15px 0px rgba(1,1,1,0.36);

    .front {
      transform: rotateY(-180deg);
    }

    .back {
      transform: rotateY(-360deg);
    }
  }

  .front {
    transition: transform $transition-time;
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(-180deg);
    transition: transform $transition-time;
    backface-visibility: hidden;

    position: absolute;
    top: 0;

    width: 100%;
  }
}